<div
  id="{{ id }}"
  class="a-drawer a-drawer--{{ position|default:'right' }}{% if size %} a-drawer--{{ size }}{% endif %}"
  data-drawer
  role="dialog"
  aria-modal="true"
  aria-labelledby="{{ id }}-title"
  aria-hidden="true"
>
  <div class="a-drawer__backdrop" data-drawer-backdrop></div>
  <div class="a-drawer__panel">
    <div class="a-drawer__header">
      <h2 id="{{ id }}-title" class="a-drawer__title">{{ title }}</h2>
      <button
        type="button"
        class="a-drawer__close"
        data-drawer-close
        aria-label="Close drawer"
      >
        {% include "components/icon.html" with name="close" size="20" %}
      </button>
    </div>

    <div class="a-drawer__body">
      {{ content|safe }}
    </div>

    {% if footer %}
      <div class="a-drawer__footer">
        {{ footer|safe }}
      </div>
    {% endif %}
  </div>
</div>
