<nav class="a-navbar" role="navigation" data-navbar>
  <div class="a-navbar__container">
    <div class="a-navbar__brand">
      <a href="/" class="a-navbar__logo">
        {% if logo_url %}
          <img src="{{ logo_url }}" alt="{{ logo_text }}" class="a-navbar__logo-img">
        {% endif %}
        <span class="a-navbar__logo-text">{{ logo_text }}</span>
      </a>
    </div>

    <button
      type="button"
      class="a-navbar__toggle"
      data-navbar-toggle
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <span class="a-navbar__toggle-icon"></span>
      <span class="a-navbar__toggle-icon"></span>
      <span class="a-navbar__toggle-icon"></span>
    </button>

    <div class="a-navbar__menu" data-navbar-menu>
      {% if nav_items %}
        <ul class="a-navbar__nav">
          {% for item in nav_items %}
            <li class="a-navbar__nav-item{% if item.children %} a-navbar__nav-item--has-dropdown{% endif %}">
              {% if item.children %}
                <button
                  type="button"
                  class="a-navbar__nav-link a-navbar__nav-dropdown-toggle{% if item.active %} a-navbar__nav-link--active{% endif %}"
                  data-navbar-dropdown-toggle
                  aria-expanded="false"
                  aria-haspopup="true"
                  {% if item.active %}aria-current="page"{% endif %}
                >
                  {{ item.text }}
                  {% include "components/icon.html" with name="chevron-right" size="sm" class="a-navbar__dropdown-icon" %}
                </button>
                <ul class="a-navbar__dropdown-menu" data-navbar-dropdown-menu>
                  {% for child in item.children %}
                    <li class="a-navbar__dropdown-item">
                      <a
                        href="{{ child.url }}"
                        class="a-navbar__dropdown-link{% if child.active %} a-navbar__dropdown-link--active{% endif %}"
                        {% if child.active %}aria-current="page"{% endif %}
                      >
                        {{ child.text }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <a
                  href="{{ item.url }}"
                  class="a-navbar__nav-link{% if item.active %} a-navbar__nav-link--active{% endif %}"
                  {% if item.active %}aria-current="page"{% endif %}
                >
                  {{ item.text }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if user_menu %}
        <div class="a-navbar__user" data-navbar-user>
          <button
            type="button"
            class="a-navbar__user-trigger"
            data-navbar-user-toggle
            aria-label="User menu"
            aria-expanded="false"
          >
            {% include "components/icon.html" with name="user" size="sm" %}
            {% if user_name %}
              <span class="a-navbar__user-name">{{ user_name }}</span>
            {% endif %}
            {% include "components/icon.html" with name="chevron-right" size="sm" %}
          </button>

          <div class="a-navbar__user-menu" data-navbar-user-menu>
            <ul class="a-navbar__user-list">
              {% for item in user_menu %}
                <li class="a-navbar__user-item">
                  <a href="{{ item.url }}" class="a-navbar__user-link">
                    {{ item.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
