<nav class="a-pagination" role="navigation" aria-label="Pagination">
  <ul class="a-pagination__list">
    <li class="a-pagination__item">
      {% if prev_url %}
        <a
          href="{{ prev_url }}"
          class="a-pagination__link a-pagination__link--prev"
          aria-label="Previous page"
        >
          {% include "components/icon.html" with name="chevron-left" size="16" %}
        </a>
      {% else %}
        <span class="a-pagination__link a-pagination__link--prev a-pagination__link--disabled" aria-hidden="true">
          {% include "components/icon.html" with name="chevron-left" size="16" %}
        </span>
      {% endif %}
    </li>

    {% for page in pages %}
      <li class="a-pagination__item">
        {% if page.is_ellipsis %}
          <span class="a-pagination__ellipsis">...</span>
        {% elif page.is_active %}
          <span class="a-pagination__link a-pagination__link--active" aria-current="page">
            {{ page.number }}
          </span>
        {% else %}
          <a
            href="{{ page.url }}"
            class="a-pagination__link"
            aria-label="Go to page {{ page.number }}"
          >
            {{ page.number }}
          </a>
        {% endif %}
      </li>
    {% endfor %}

    <li class="a-pagination__item">
      {% if next_url %}
        <a
          href="{{ next_url }}"
          class="a-pagination__link a-pagination__link--next"
          aria-label="Next page"
        >
          {% include "components/icon.html" with name="chevron-right" size="16" %}
        </a>
      {% else %}
        <span class="a-pagination__link a-pagination__link--next a-pagination__link--disabled" aria-hidden="true">
          {% include "components/icon.html" with name="chevron-right" size="16" %}
        </span>
      {% endif %}
    </li>
  </ul>
</nav>
