{% load a_ui_tags %}
<div class="a-tabs" data-tabs>
  <div class="a-tabs__list" role="tablist" aria-label="{{ aria_label|default:'Tabs' }}">
    {% for tab in tabs %}
      <button
        type="button"
        class="a-tabs__tab{% if forloop.first %} a-tabs__tab--active{% endif %}"
        role="tab"
        id="tab-{{ tab.id }}"
        aria-controls="panel-{{ tab.id }}"
        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
        tabindex="{% if forloop.first %}0{% else %}-1{% endif %}"
        data-tab-id="{{ tab.id }}"
      >
        {% if tab.icon %}
          <span class="a-tabs__tab-icon">
            {% include "components/icon.html" with name=tab.icon size="sm" %}
          </span>
        {% endif %}
        <span class="a-tabs__tab-label">{{ tab.label }}</span>
        {% if tab.badge %}
          {% include "components/badge.html" with text=tab.badge variant="neutral" size="sm" %}
        {% endif %}
      </button>
    {% endfor %}
  </div>
  <div class="a-tabs__panels">
    {% for tab in tabs %}
      <div
        class="a-tabs__panel{% if forloop.first %} a-tabs__panel--active{% endif %}"
        role="tabpanel"
        id="panel-{{ tab.id }}"
        aria-labelledby="tab-{{ tab.id }}"
        tabindex="0"
        {% if not forloop.first %}hidden{% endif %}
      >
        {{ tab.content|safe }}
      </div>
    {% endfor %}
  </div>
</div>
