/**
 * Icon Component
 *
 * SVG icon wrapper with size variants and color support.
 */

.a-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }

  // Size variants
  &--sm {
    width: 1rem;
    height: 1rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &--md {
    width: 1.5rem;
    height: 1.5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &--lg {
    width: 2rem;
    height: 2rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
